<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>MPI Web App</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='css/sweetalert.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/jquery.fileupload.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/jquery.fileupload-ui.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/pikaday.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>

  <div id="experiments-app">

    <header class="top-bar">
      <nav class="navbar navbar-full navbar-light bg-faded">
        <a class="navbar-brand" href="#">BUTLER</a>
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#experiments">Experiments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experiments/new">Create new</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="main" class="container-fluid">
    </main>

  </div> <!-- /container -->

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="{{ url_for('static', filename='node_modules/jquery/dict/jquery.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='node_modules/underscore/underscore-min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='node_modules/backbone/backbone-min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='{{ url_for('static', filename='node_modules/backbone-validation/dist/backbone-validation-min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/libs/backbone/backbone.syphon.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='node_modules/tether/dist/js/tether.min.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/what-input.js') }}"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="{{ url_for('static', filename='node_modules/sweetalert/dist/sweetalert.min.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/noty/js/noty/packaged/jquery.noty.packaged.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/jquery-fileupload/jquery.ui.widget.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/jquery-fileupload/jquery.iframe-transport.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/jquery-fileupload/jquery.fileupload.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/jquery-fileupload/jquery.knob.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/jquery-fileupload/jquery.fileupload-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/select2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/pikaday.js') }}"></script>


  <script type="text/template" id="experiment-list-layout">
    <section class="top jumbotron">
      <div class="container">
        <div class="row">
          <h1>Experiments</h1>
          <div class="actions-bar-container"></div>
        </div>
      </div>
    </section>
    <section class="experiment-list">
      <div class="container">
        <div class="row list-container"></div>
      </div>
    </section>
  </script>

  <script type="text/template" id="experiment-list-action-bar">
     <!-- <button class="btn btn-lg btn-success">
       Create a new experiment
     </button> -->
     <form class="search-form" role="search">
       <div class="form-group">
         <input type="text" class="form-control" placeholder="Search">
       </div>
     </form>
  </script>


  <script type="text/template" id="experiment-list-item">
    <h4><a id="view"><%= name %></a></h4>
    <p>Experimenter: <i><%= experimenter %></i></p>
  </script>

  <script id="experiment-view-layout" type="text/template">
    <div id="experiment-details"></div>
  </script>

  <script type="text/template" id="experiment-view-details">
    <div class="jumbotron">
      <div class="container">
        <div class="page-header">
          <h2><%= name %></h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="experiment-tabs">
        <ul class="nav nav-tabs">
          <li class="nav-item"><a class="nav-link active" data-bypass data-toggle="tab" href="#experiment-information" role="tabpanel">Information</a></li>
          <li class="nav-item"><a class="nav-link" data-bypass data-toggle="tab" href="#experiment-uploads" role="tabpanel">Uploads</a></li>
          <li class="nav-item"><a class="nav-link" data-bypass data-toggle="tab" href="#experiment-processing" role="tabpanel">Processing</a></li>
        </ul>
      </div>
      <div id="experiment-data" class="tab-content">
        <div class="tab-pane active" id="experiment-information">
          <p><strong>Experiment type:</strong> <%= exp_type %></p>
          <p><strong>Submitted on:</strong> <%= date %></p>
          <p><strong>Experimenter:</strong> <%= experimenter %></p>
          <p><strong>Species:</strong> <%= species %></p>
          <p><strong>Tissue:</strong> <%= tissue %></p>
        </div>
        <div class="tab-pane" id="experiment-uploads">
          <div class="experiment-file-list-container">
            <p>No files uploaded yet.</p>
          </div>
        </div>
        <div class="tab-pane" id="experiment-processing">
          <p>Empty</p>
        </div>
      </div>
    </div>
  </script>


  <script type="text/template" id="experiment-file-item">
    <a class="accordion-title">
      <%= name %>
    </a>
    <div class="accordion-content" data-tab-content>
      <p class="list-group-item-text">File path: <i><%= path %></i></p>
      <p class="list-group-item-text">File size: <i><%= size %></i></p>
      <br />
      <div class="btn-group experiment-file-actions">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <!--<li><a class="visualize-scatterplot">Visualize scatterplot</a></li>-->
          <li><a class="visualize-expression">Visualize gene expression</a></li>
          <li><a class="download">Download</a></li>
          <li role="separator" class="divider"></li>
          <li><a class="remove">Remove</a></li>
        </ul>
      </div>
    </div>
    <br />
    <!-- MODAL -->
    <div class="reveal visualization-modal" id="" tabindex="-1" role="dialog" aria-labelledby="modal-title">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-title">Experiment visualization</h4>
          </div>
          <div class="modal-body">
            <div class="visualization-wrapper">
              <select class="gene-selection" multiple="multiple" style="width: 50%"></select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>


  <script type="text/template" id="experiment-form-layout">
    <div class="jumbotron">
      <div class="container">
        <h2>New experiment</h2>
      </div>
    </div>
    <div id="form-container"></div>
  </script>

  <script type="text/template" id="experiment-form">
      <div class="container">
        <div id="experiment-information">
          <h4>Fill in the information about the experiment</h4>
          <hr />
          <form id="create-experiment-form" action="">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="experiment-type">Type:</label>
                  <select class="form-control" id="experiment-type">
                    <option>RNA-Seq</option>
                    <option>Imaging</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="experiment-name">Name:</label>
                  <input type="text" class="form-control" id="experiment-name" placeholder="Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="experiment-date">Date:</label>
                  <div class="input-group date">
                    <input type="text" class="form-control" id="experiment-date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="experiment-experimenter">Experimenter:</label>
                  <input type="text" class="form-control" id="experiment-experimenter" placeholder="Experimenter">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="experiment-species">Species:</label>
                  <input type="text" class="form-control" id="experiment-species" placeholder="Species">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="experiment-tissue">Tissue:</label>
                  <input type="text" class="form-control" id="experiment-tissue" placeholder="Tissue">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="experiment-information">Additional information:</label>
                  <textarea class="form-control" id="experiment-additionalInformation" placeholder="Additional information" rows="6"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <button id="save" class="btn btn-lg btn-outline-success">
          <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span> Submit experiment
        </button>
        <button id="cancel" class="btn btn-lg btn-outline-secondary">
          <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
          Cancel
        </button>
      </div>
  </script>

  <script type="text/template" id="file-upload-tmpl">
      <label for="fileInput">Data files:</label>
      <div id="drop" class="text-center">
        Drop Here
        <button class="btn btn-info btn-browse-files" type="button">Browse files</button>
        <input id="fileInput" type="file" name="files[]" multiple/>
      </div>
      <ul class="list-group">
      <!-- The file uploads will be shown here -->
      </ul>
  </script>

  <script src="{{ url_for('static', filename='js/common.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/apps/experiments/router.js') }}"></script>
  <script src="{{ url_for('static', filename='js/apps/experiments/models/baseModel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/apps/experiments/models/experiment.js') }}"></script>
  <script src="{{ url_for('static', filename='js/apps/experiments/models/experimentFile.js') }}"></script>
  <script src="{{ url_for('static', filename='js/apps/experiments/collections/baseCollection.js') }}"></script>
  <script src="{{ url_for('static', filename='js/apps/experiments/collections/experimentCollection.js') }}"></script>
  <script src="{{ url_for('static', filename='js/apps/experiments/collections/experimentFileCollection.js') }}"></script>
  <script src="{{ url_for('static', filename='js/apps/experiments/experimentList.js') }}"></script>
  <script src="{{ url_for('static', filename='js/apps/experiments/experimentViewer.js') }}"></script>
  <script src="{{ url_for('static', filename='js/apps/experiments/experimentEditor.js') }}"></script>
  <script src="{{ url_for('static', filename='js/apps/experiments/app.js') }}"></script>
  <script type="text/javascript">App.start();</script>
  <script src="{{ url_for('static', filename='js/visualizations/scatter-plot.js') }}"></script>
  <script src="{{ url_for('static', filename='js/visualizations/line-chart.js') }}"></script>


</body>
</html>
